<div class="container my-5 table-responsive">
    
    <table class="table">
        <thead class="bg-secondary text-light shadow">
            <tr>
                <th colspan="4">
                    <h2>Cart Summary</h2>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="!cart">
            <tr class="text-center">
                <td colspan="4">Your cart is Empty!!</td>
            </tr>
        </tbody>
        <tbody *ngIf="cart">
            <tr *ngFor="let item of cart | keyvalue">
                <td>
                    <img [src]="item.value.product.imageUrl" height="150px">
                </td>
                <td>
                    <h3>{{item.value.product.pname}}</h3>
                    <p class="badge badge-pill badge-primary">{{item.value.product.brand}}</p>
                    <p>{{item.value.product.description}}</p>
                </td>
                <td class="p-5">
                    
                    Qty: <input type="number" [(ngModel)]="cart[item.key].qty" (change)="updateCart()">
                    
                </td>
                <td class="p-5">
                    ${{item.value.product.price}}
                </td>
            </tr>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="px-5">${{total}}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <button class="btn btn-lg btn-primary" (click)="checkOut()" [disabled]="!cart" >Check Out</button>
    </div>
   


</div>