<div *ngIf="notify" class="alert alert-success container marge">
    {{ notify }}
</div>
<div class="container" *ngIf="auth.getRole()=='admin'">
    <div class="bg-warning rounded-lg mt-5 text-dark" [style.height]="'300px'">
        <h2 class="text-center d-block p-5">Welcome to eMall Admin portal</h2>
        <p class="text text-muted text-center">Check out what you can do here!</p>
        
    </div>
    <div [style.height]="'300px'" class="mb-5">
        <div class="d-flex h-100 text-center flex-wrap ">
            <div class="flex-fill p-2 m-3 bg-info text-light rounded">
                <a [routerLink]="['/brand-list']" class=" d-block h-100 text-light"> <h3>Manage Brand</h3> <br><br><br> Add Brand<br> Delete Brand!</a>  
            </div>
            <div class="flex-fill p-2 m-3 bg-success text-light rounded">
                <a [routerLink]="['/user-list']" class=" d-block h-100 text-light"> <h3>Manage User</h3> <br><br><br> Add User<br> Delete User!</a>
            </div>
            <div class="flex-fill p-2 m-3 bg-info text-light rounded">
                <a [routerLink]="['/manage-product']" class=" d-block h-100 text-light"> <h3>Manage Product</h3> <br><br><br> Add Product<br> Delete Product <br>
                Update Product</a>
            </div>
        </div>
        </div>

</div>
<div class="container" *ngIf="auth.getRole()=='customer'">
    <div class="bg-warning rounded-lg mt-5 text-dark text-center" [style.height]="'300px'">
        <h2 class="text-center d-block p-5">Welcome to eMall</h2>
        <p class="text text-muted text-center">Check out what you can do here!</p>
        <a [routerLink]="['/product-list']" class="btn btn-primary"> Start Shopping</a>
        
    </div>

</div>
